.calHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: red;
    border-style:solid;
    border-block-color: red;
    height: 100px;
    justify-content: left;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    color: white;
    font: bold 20px "Roboto", sans-serif;
    text-align: center;

}

.week{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font: bold 20px "Roboto", sans-serif;
    justify-content: space-evenly;
    text-align: center;
}


.calendar{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    font: bold 20px "Roboto", sans-serif;
    justify-content: space-evenly;


}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font: bold 20px "Roboto", sans-serif;

}

.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font: bold 20px "Roboto", sans-serif;

}
.row3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font: bold 20px "Roboto", sans-serif;

}

.row4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font: bold 20px "Roboto", sans-serif;

}

.row5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font: bold 20px "Roboto", sans-serif;

}
